@import url("https://fonts.googleapis.com/css?family=Sulphur+Point:300,400,700&display=swap");

@font-face {
    font-family: "Sahel";
    src: url(./assets/font/Sahel.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: sahel;
    src: url(./assets/font/Sahel-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

// Simple CSS Reset
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sulphur Point", "Sahel", sans-serif;
}
button,
input,
textarea,
a {
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .app__add-address,
    .app__addresses {
        padding: 1em;
        flex: 250px 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .app__addresses {
        flex-direction: column;
        flex: 250px 2;
        direction: rtl;
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.address {
    width: 60%;
    padding: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    .address__info {
        display: flex;
        justify-content: space-between;
        p {
            color: #777;
        }
    }
}

.form {
    .form__item {
        margin-bottom: 1em;
        label {
            display: block;
        }
        .form__text {
            padding: 0.3em 0.5em;
        }
    }
}

.alerts {
    .alert__item {
        background-color: rgb(233, 35, 35);
        margin-bottom: 0.5em;
        padding: 0.5em;
        color: #fff;
    }
}

.btn {
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em;
    font-weight: bold;
    border-radius: 2px;
    &.btn_block {
        display: block;
        width: 100%;
    }
    &.btn_success {
        background-color: rgba(46, 177, 34, 0.719);
        color: #fff;
        &:hover {
            background-color: rgba(69, 219, 55, 0.719);
        }
    }
}

@media screen and (min-width: 40em) {
    .app {
        flex-direction: row;
        .app__add-address {
            flex: 250px 2;
        }

        .app__addresses {
            flex: 250px 1;
        }
    }
}
